db_delete/src/main/mule/db_delete.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="43b0965a-1e3b-4d7d-8252-1acccd033615" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b361ab8c-4de4-4e81-ac25-a423fd13f92e" >
		<db:my-sql-connection host="localhost" port="3306" user="mule" password="soft@123" database="customers_info" />
	</db:config>
	<db:config name="Database_Config1" doc:name="Database Config" doc:id="a4fd6268-30f7-4648-ba28-3f0e2adce8f9" >
		<db:my-sql-connection host="localhost" port="3306" user="mule" password="soft@123" database="customers_info" />
	</db:config>
	<flow name="db_deleteFlow" doc:id="66017d9f-b7f5-4109-8fd1-d2304e542538" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="dc3f97e0-2cf3-4476-8345-cc925c0b307e" config-ref="HTTP_Listener_config" path="/db_delete"/>
		<logger level="INFO" doc:name="Logger" doc:id="83ae9510-0d9f-4d32-909b-a0436cfcbbaa" message="going to delete records from database"/>
		<ee:transform doc:name="Transform Message" doc:id="97ecba4a-3663-4b47-b0b8-dc64abceda12" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
1 to 10 map{
	cust_id: 'id_11' ++ $
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:delete doc:name="Delete" doc:id="edbc4770-0055-4095-b930-512c6a5671f3" config-ref="Database_Config">
			<db:sql ><![CDATA[delete from customer where cust_id = 'id_130';]]></db:sql>
		</db:delete>
		<ee:transform doc:name="Transform Message" doc:id="4a00e71c-ec48-4aad-80f7-870b772b0f29" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="a1808134-ef7c-4e1c-bf4b-0e5a3a43219f" message="deleted records from data base is : #[payload]"/>
	</flow>
	<flow name="db_insert_bulk" doc:id="a57f264b-25ec-4622-998f-1efa799bcece" initialState="stopped">
		<http:listener doc:name="Listener" doc:id="f113c1d5-736e-4147-979a-6148607dbb46" config-ref="HTTP_Listener_config" path="/insertbulk"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="caf47410-4679-411a-b138-e8e64ed5d820" />
		<logger level="INFO" doc:name="Logger" doc:id="e53efedc-50a6-4c1d-954c-f4123395b4f5" message="going to insert bulk records into database"/>
		<ee:transform doc:name="Transform Message" doc:id="e99bde46-976e-4fc8-b134-2a3e88b0eeed">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
5 to 9 map{
	cust_id:'id_10' ++ $,
	cust_fname:'karumuri' ++ $,
	cust_lname:'rao' ++ $,
	cust_address: 'chebrolu' ++ $,
	cust_phone: 99888790 ++ $
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<db:bulk-insert doc:name="Bulk insert" doc:id="3a516928-909f-4dac-ba53-0c5d54f88abb" config-ref="Database_Config1">
			<db:sql><![CDATA[insert into customer (cust_id,cust_fname,cust_lname,cust_address,cust_phone)
values(:cust_id, :cust_fname, :cust_lname, :cust_address, :cust_phone);]]></db:sql>
		</db:bulk-insert>
		<ee:transform doc:name="Transform Message" doc:id="da0beefb-8c9e-4bcd-8be0-68444d207d70" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="13d84cda-2906-4824-988e-17229f7a73e4" message="number of record inserted is :#[payload]"/>
	</flow>
	<flow name="db_deleteFlow1" doc:id="91573fbc-79b9-4430-922e-5cf7ccb9a503" >
		<http:listener doc:name="Listener" doc:id="85a2e0b0-9a7b-45e8-a73b-28c9580171b4" config-ref="HTTP_Listener_config" path="/update_DB"/>
		<db:update doc:name="Update" doc:id="64d20295-d4f0-4804-bf4b-4ab4ed94f3a4" config-ref="Database_Config">
			<db:sql ><![CDATA[UPDATE Customer
SET cust_fname = 'Alfred Schmidt', cust_lname = 'Frankfurt', cust_address = 'usa',cust_phone = 88855665
WHERE cust_id = 'id_106';]]></db:sql>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="7548eb36-6083-4c18-8524-8abca0c8a15d" message="row of one record had updated"/>
	</flow>
</mule>
