msg_pro/src/main/mule/msg_pro.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="5134b5eb-aa6f-4d00-bbd8-8957028f3ace" basePath="/msg" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="msg_proFlow" doc:id="0a4a0826-d93b-4ad4-8648-5f30fc8592b2" >
		<http:listener doc:name="Listener_msg" doc:id="1e208cc4-4e99-41a5-b9dc-e7b6d81c48c5" config-ref="HTTP_Listener_config" path="/pro" allowedMethods="GET" outputMimeType="application/json"/>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="2178d6d1-7180-4c4d-bcd1-59624d534e58" mimeType="application/json"/>
		<logger level="INFO" doc:name="Logger" doc:id="ebc18c6d-0b05-4220-96fe-4a99bae9d650" message="#[payload.shipTo]"/>
	</flow>
</mule>
